
<div class="container" id="update-form">
    <h3 class="mb-3 text-center">Edit Stocks</h3>


    <div class="form-group row">
    <label class="control-label col-sm-6">Status Code:</label> 
      <input  type="text" [(ngModel)]="stockDetails.statusCode" class="form-control col-sm-6" placeholder="Staus Code">
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-6">Price:</label>
      <input type="number" min="1" oninput="validity.valid||(value='') ;" [(ngModel)]="stockDetails.price" class="form-control col-sm-6" placeholder="Price">
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-6">Volume:</label>
      <input type="number" min="1"  oninput="validity.valid||(value='') ;" [(ngModel)]="stockDetails.volume" class="form-control col-sm-6" placeholder="Volume">
    </div>

    <div class="form-group text-center">
      <button class="btn btn-success btn-lg btn-block" (click)="updateStocks()">Save Stocks</button>
    </div>

 </div>