a{
    text-decoration: none!important;
  }
  
body{
  margin:0;
}
  
  .img-fluid
{
    width: 150px;
    height: 100px;
}

.nav-item
{
    font-weight: bold;
    font-size: large;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index:-1000 ;
	
  /* Preserve aspet ratio */
  min-width: 100%;
  
  height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 100;
}
.image { 
  position: relative; 
  width: 100%;
}

h3 { 
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%; 
}