
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
    
    <img class="img-fluid" src="https://zfy0g2xin19g4hlh4avdgc38-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/stock-trading.png">
         </a>
         <h2>PowerUpStox</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/about">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trade">Buy/Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stock-list">Trade History</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="image">

     <img src="https://img.freepik.com/free-photo/stock-market-forex-trading-graph-graphic-double-exposure_73426-193.jpg?size=626&ext=jpg" id="bg">
          

</div>

     




              
   




  


<router-outlet></router-outlet>

