* {
  box-sizing: border-box;
}
#pie-chart{
  margin-top: 150px;
  width: 100%;
  text-align: center;
}
 h2{
  text-align: center;
  font-weight: bold;
}
canvas{
  display: inline;
  align-self: center;
}
.form-control{
  width: 70%;
}
#list{
    margin: 20px;
}
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
.Table
{
  padding: 30px 40px;
  margin-top: 100px;
  margin-bottom: 60px;
}
.container{
margin-bottom: 160px;
}
.table th{
background-color: rgb(200, 240, 237);
}
.table td{
font-weight: bold;
}
.table tbody tr{
font-weight: bold;
background-color: aliceblue;
}
.table tbody tr:hover{
background-color: rgb(134, 148, 148);
}