<div id="pie-chart">
<h2>Distribution of Stock Categories</h2>
  <canvas baseChart height="25vh" width="80vw"
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
	[colors]="pieChartColors"
    [legend]="pieChartLegend">
  </canvas>
</div>

<h2 style="margin-top:100px;"> View Trade History</h2>

<div class="container">
  <div class="row">
    <div class="col-sm">

      <select id="listbyCategory" for="search-text" class='form-control' [(ngModel)]="selectedCategory"> 
	  		<option value="" disabled selected>Category Filter</option>
			<option>--List All--</option>
			<option>--Clear All--</option>
			<option>Pharma</option>
			<option>Software</option>
			<option>Business Services</option>
			<option>Electrical</option>
			<option>Finance</option>
	 </select>
	 <i class="fas fa-sliders-h"></i>
    </div>
    <div class="col-sm">
		
    </div>
	
    <div class="col-sm">
    <input type="text" class="form-control" [(ngModel)]= "searchbyName"
            placeholder="Enter Company name" />
			
    </div>
	
  </div>
</div>

<div id="list">
<div class="Table" *ngIf="Stocks.length != 0">
	<div class="col-md-12">
	  <table class="table">
		<thead>
		  <tr>
			<th scope="col">Id</th>
			<th scope="col">Company Name</th>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Action(Buy/Sell)</th>
			<th scope="col">Price</th>
            <th scope="col">Volume</th>
            <th scope="col">Status-Code</th>
			<th scope="col">Category</th>
			<th scope="col">Timestamp</th>
			<th scope="col">Edit/Delete</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stock of Stocks | appFilter: selectedCategory" >
			<td>{{stock.id}}</td>
			<td>{{stock.company}}</td>
			<td>{{stock.stockTicker}}</td>
			<td>{{stock.buySell}}</td>
            <td>{{stock.price}}</td>
            <td>{{stock.volume}}</td>
            <td>{{stock.statusCode}}</td>
			<td>{{stock.category}}</td>
			<td>{{stock.dtime | date : "dd-MM-yyyy hh:ss"}} </td>
			<td>
			  <a [routerLink]="['/stock-edit/', stock.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
			  <a [routerLink]="" (click)="deleteStocks(stock.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td>
		  </tr>


		  <tr *ngFor="let stock of Stocks | filter : searchbyName" >
			<td>{{stock.id}}</td>
			<td>{{stock.company}}</td>
			<td>{{stock.stockTicker}}</td>
			<td>{{stock.buySell}}</td>
            <td>{{stock.price}}</td>
            <td>{{stock.volume}}</td>
            <td>{{stock.statusCode}}</td>
			<td>{{stock.category}}</td>
			<td>{{stock.dtime | date : "dd-MM-yyyy hh:ss"}} </td>
			<td>
			  <a [routerLink]="['/stock-edit/', stock.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
			  <a [routerLink]="" (click)="deleteStocks(stock.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td>
		  </tr>
		  
		</tbody>
	  </table>
	</div>
</div>

<script>
  
  </script>