

    <!--<img src="https://img.freepik.com/free-photo/stock-market-forex-trading-graph-graphic-double-exposure_73426-193.jpg?size=626&ext=jpg" id="bg">
       

     
     <video width="560" height="340" autoplay loop >
    <source src="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/TOEwt0C/videoblocks-stock-market-trading-graphic-background-animation-of-chart_bgbdx8ktl__fc5661cdac0824cc7983338149450626__P360.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>  
    

    <object width="640" height="384" type="application/x-shockwave-flash"   data="video/player_flv_maxi.swf?image=placeholder.jpg&file=video/30.swf">
    <param name="movie" value="video/player_flv_maxi.swf?image=placeholder.jpg&file=video/30.swf" />
    </object>
    
</video>
<p style="margin-top:-250px">The website provide you with an option to view Historical Data of stocks before you can Buy Or Sell <p>



<video playsinline autoplay muted loop>
     <source src="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/TOEwt0C/videoblocks-stock-market-trading-graphic-background-animation-of-chart_bgbdx8ktl__fc5661cdac0824cc7983338149450626__P360.mp4" type="video/mp4">
  	
</video>
<div class="overlay">
  <h2>The website provide you with an option to view Historical Data of stocks before you can Buy or Sell it</h2>
</div>

-->

       



<main >
	<ul id="cards ">
		<li class="card" id="card_1">
			<div class="card__content">
				<div>
					<h2>Trading Made Simple</h2>
					<p>We provide you simple interface to buy or Sell Stocks</p>
                         <p>FEATURES</p>
					
                         1. View Historical Data of Stocks you want <br>
                         2. Select stocks according to a specific Category<br>
                         3. View your Trading History
                         
                        
				</div>
				<figure>
					<img src="https://hekko512920743.files.wordpress.com/2021/08/gif.gif?w=600&zoom=2" alt="Image description">
                         
				</figure>
			</div>
		</li>
		
	</ul>
</main>
