.card {
    padding: 30px 40px;
    margin-top: 100px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    opacity: 1;
}
 #xyz {
   
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    margin-top: 210px;
    margin-left: 470px;

    font-weight: 300
}

input {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
 
    
    font-weight: 300
}



.card h1 { 
    position: absolute; 
    top: 100px; 
    left: 0; 
    width: 100%; 
  }

 p{
     font-size: 30px;
     margin-left: 450px;
     
 }
  h2 { 
    position: absolute;  
    left: 0; 
    width: 100%; 
    font-size: 35px;
  }
  h3 { 
    position: absolute; 
    top: 400px; 
    left: 0; 
    font-size: 40px;
    width: 100%; 
  }
   

textarea {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300;
    color: #ffffff
}
button {
    padding: 10px 20px;
    border-radius: 7px !important;
    margin: 5px 2px;
    box-sizing: border-box;
    border: 3px solid black;
    font-size: 20px !important;
    font-style: bold;
    font-weight: 400;
    color: black;
    background-color:rgba(64, 175, 170, 0.4);

}
#abc {
    padding: 10px 20px;
    border-radius: 7px !important;
    margin: 5px 2px;
    box-sizing: border-box;
    border: 3px solid black;
    font-size: 20px !important;
    font-style: bold;
    margin-left: 520px;
    font-weight: 400;
    color: black;
    background-color:rgba(64, 175, 170, 0.4);

}
.card { background-color: rgba(245, 245, 245, 0.4); }
.card-header, .card-footer 
{ opacity: 1;
    font-size: 22px;
    float: center
}
.special-card {
    background-color: rgba(245, 245, 245, 0.4) !important;
}

form{
    font-size: 18px;
    border-color: black;
}
.radio-inline{
    float: center;
}

table tr th{
    background-color: rgb(200, 240, 237);
    font-size: 20px;
  }
  
table tr th{
    font-weight: bolder;
    padding: 20px;
  }
  
table tr {
    font-weight: bold;
    background-color: aliceblue;
    border: 0in;
  }


  