
<div class="card">
  <div class="form-group">
    <div class="form-checkbox">
      <div class="card-header">
        <p> TRADE FORM: </p>
      </div>

      
        <div class="radio-inline" >
          <div class="card-body special-card">
          <label for="Buy">
            <input type="radio" id="Buy" name="buy-sell" value="buy" [(ngModel)]="stocks.buySell">
            Buy<span>     </span>
          </label> <br>
          <span>     </span>
          <label for="Sell">
            <input type="radio" id="Sell" name="buy-sell" value="sell" [(ngModel)]="stocks.buySell">
            Sell<span>    </span>
          </label> <br> <br>
        </div>
      </div>
    </div>
  </div>
  <label for="categoryDataList" class="form-label">
    <div class="card-header"> Category </div>
  </label>
  <span>
    <div class="card-body special-card">
      <input class="form-control" list="categoryOptions" id="categoryDataList" [(ngModel)]="stocks.category"
        placeholder="Type Category of Company...">
    </div>
    <datalist id="categoryOptions">
      <option value="Pharma">
      <option value="Software">
      <option value="Business Services">
      <option value="Electrical">
      <option value="Finance">
    </datalist>
  </span>


  <label for="companyDataList" class="form-label">
    <div class="card-header"> Company Name </div>
  </label>

  <span>
    <div class="card-body special-card" *ngIf="stocks.category === 'Pharma'">
      <input class="form-control" list="pharmaOptions" id="companyDataList" [(ngModel)]="stocks.company"
        placeholder="Type Company..." required>
    </div>
    <datalist id="pharmaOptions">
      <option value="AbbVie Inc. Common Stock">
      <option value="AmerisourceBergen Corporation Common Stock">
      <option value="Abeona Therapeutics Inc. Common Stock">
      <option value="Acumen Pharmaceuticals Inc. Common Stock">
      <option value="Arbutus Biopharma Corporation Common Stock">
      <option value="ABVC Biopharma Inc. Common Stock">
      <option value="ACADIA Pharmaceuticals Inc. Common Stock">
      <option value="Adicet Bio Inc. Common Stock">
      <option value="AC Immune SA Common Stock">
      <option value="Aclaris Therapeutics Inc. Common Stock">
    </datalist>
  </span>

  <span>
    <div class="card-body special-card" *ngIf="stocks.category === 'Software'">
      <input class="form-control" list="softwareOptions" id="companyDataList" [(ngModel)]="stocks.company"
        placeholder="Type Company..." required>
    </div>
    <datalist id="softwareOptions">
      <option value="Adobe Inc. Common Stock">
      <option value="Autodesk Inc. Common Stock">
      <option value="Agilysys Inc. Common Stock">
      <option value="C3.ai Inc. Class A Common Stock">
      <option value="Alarm.com Holdings Inc. Common Stock">
      <option value="Altair Engineering Inc. Class A Common Stock">
      <option value="Amesite Inc. Common Stock">
      <option value="American Software Inc. Class A Common Stock">
      <option value="American Well Corporation Class A Common Stock">
      <option value="Adobe Inc. Common Stock">
    </datalist>
  </span>

  <span>
    <div class="card-body special-card" *ngIf="stocks.category === 'Business Services'">
      <input class="form-control" list="businessOptions" id="companyDataList" [(ngModel)]="stocks.company"
        placeholder="Type Company..." required>
    </div>
    <datalist id="businessOptions">
      <option value="ABG Acquisition Corp. I Class A Ordinary Shares">
      <option value="Ace Global Business Acquisition Limited Unit">
      <option value="Edoc Acquisition Corp. Class A Ordinary Share">
      <option value="AGBA Acquisition Limited Ordinary Share">
      <option value="North Atlantic Acquisition Corporation Warrant">
      <option value="NextGen Acquisition Corp. II Warrant">
      <option value="NetEase Inc. American Depositary Shares">
      <option value="Trebia Acquisition Corp. Class A Ordinary Shares">
      <option value="Corner Growth Acquisition Corp. 2 Warrants">
      <option value="Zillow Group Inc. Class A Common Stock">
    </datalist>
  </span>

  <span>
    <div class="card-body special-card" *ngIf="stocks.category === 'Electrical'">
      <input class="form-control" list="electricalOptions" id="companyDataList" [(ngModel)]="stocks.company"
        placeholder="Type Company..." required>
    </div>
    <datalist id="electricalOptions">
      <option value="Agilent Technologies Inc. Common Stock">
      <option value="ABB Ltd Common Stock">
      <option value="Aehr Test Systems Common Stock">
      <option value="Allied Motion Technologies Inc.">
      <option value="Amphenol Corporation Common Stock">
      <option value="Atkore Inc. Common Stock">
      <option value="Benchmark Electronics Inc. Common Stock">
      <option value="CBAK Energy Technology Inc. Common Stock">
      <option value="Eltek Ltd. Ordinary Shares">
      <option value="Enphase Energy Inc. Common Stock">

    </datalist>
  </span>

  <span>
    <div class="card-body special-card" *ngIf="stocks.category === 'Finance'">
      <input class="form-control" list="financeOptions" id="companyDataList" [(ngModel)]="stocks.company"
        placeholder="Type Company..." required>
    </div>
    <datalist id="financeOptions">
      <option value="Apollo Tactical Income Fund Inc. Common Stock">
      <option
        value="Morgan Stanley Emerging Markets Domestic Debt Fund Inc. Morgan Stanley Emerging Markets Domestic Debt Fund Inc. Common Stock">
      <option value="Wells Fargo Utilities and High Income Fund">
      <option value="Finance of America Companies Inc. Class A Common Stock">
      <option value="Great Elm Capital Corp. Common Stock">
      <option value="GAMCO Natural Resources Gold & Income Trust">
      <option value="Goldman Sachs BDC Inc. Common Stock">
      <option value="Tekla Healthcare Investors Common Stock">
      <option value="Nelnet Inc. Common Stock">
      <option value="Firsthand Technology Value Fund Inc. Common Stock">

    </datalist>
  </span>

  <label for="exampleDataList" class="form-label">
    <div class="card-header"> Stock Ticker </div>
  </label>

  <span>
    <div class="card-body special-card" *ngIf="stocks.category === 'Pharma'">
      <input class="form-control" list="pharmaStockOptions" id="exampleDataList" [(ngModel)]="stocks.stockTicker"
        placeholder="Type Stock Ticker..." required>
    </div>
    <datalist id="pharmaStockOptions">
      <option value="ABBV">
      <option value="ABC">
      <option value="ABEO">
      <option value="ABOS">
      <option value="ABUS">
      <option value="ABVC">
      <option value="ACAD">
      <option value="ACET">
      <option value="ACIU">
      <option value="ACRS">
    </datalist>
  </span>

  <span>
    <div class="card-body special-card" *ngIf="stocks.category === 'Software'">
      <input class="form-control" list="softwareStockOptions" id="exampleDataList" [(ngModel)]="stocks.stockTicker"
        placeholder="Type Stock Ticker..." required>
    </div>
    <datalist id="softwareStockOptions">
      <option value="ADBE">
      <option value="ADSK">
      <option value="AGYS">
      <option value="AI">
      <option value="ALRM">
      <option value="ALTR">
      <option value="AMST">
      <option value="AMSWA">
      <option value="AMWL">
      <option value="ADBE">
    </datalist>
  </span>

  <span>
    <div class="card-body special-card" *ngIf="stocks.category === 'Business Services'">
      <input class="form-control" list="businessStockOptions" id="exampleDataList" [(ngModel)]="stocks.stockTicker"
        placeholder="Type Stock Ticker..." required>
    </div>
    <datalist id="businessStockOptions">
      <option value="ABGI">
      <option value="ACBAU">
      <option value="ADOC">
      <option value="AGBA">
      <option value="NAACW">
      <option value="NGCAW">
      <option value="NTES">
      <option value="TREB">
      <option value="TRONW">
      <option value="ZG">
    </datalist>
  </span>

  <span>
    <div class="card-body special-card" *ngIf="stocks.category === 'Electrical'">
      <input class="form-control" list="electricalStockOptions" id="exampleDataList" [(ngModel)]="stocks.stockTicker"
        placeholder="Type Stock Ticker..." required>
    </div>
    <datalist id="electricalStockOptions">
      <option value="A">
      <option value="ABB">
      <option value="AEHR">
      <option value="AMOT">
      <option value="APH">
      <option value="ATKR">
      <option value="BHE">
      <option value="CBAT">
      <option value="ELTK">
      <option value="ENPH">
    </datalist>
  </span>

  <span>
    <div class="card-body special-card" *ngIf="stocks.category === 'Finance'">
      <input class="form-control" list="financeStockOptions" id="exampleDataList" [(ngModel)]="stocks.stockTicker"
        placeholder="Type Stock Ticker..." required>
    </div>
    <datalist id="financeStockOptions">
      <option value="AIF">
      <option value="EDD">
      <option value="ERH">
      <option value="FOA">
      <option value="GECC">
      <option value="GNT">
      <option value="GSBD">
      <option value="HQH">
      <option value="NNI">
      <option value="SVVC">
    </datalist>
  </span>


  <span class="form-label">
    <div class="card-header"> Volume </div>
    <div class="card-body special-card">
      <input type="number" min="1" oninput="validity.valid||(value='') ;" placeholder="1" [(ngModel)]="stocks.volume" class="form-control" name="volume"
        required>
    </div>
  </span>

  <span class="select-arrow">
    <div class="card-header">Price </div>
    <div class="card-body special-card">
      <input type="number" min="1" oninput="validity.valid||(value='') ;" placeholder="1"[(ngModel)]="stocks.price" class="form-control" required>
      <div class="invalid-feedback">
        Price should be greater than 0.
      </div>
    </div>
  </span>

  <div class="row justify-content-end">
    <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary" routerLink="/stock-list"
        (click)="addStock()">Submit Trade</button> </div>
  </div>
</div>

<br> <br>

<h2 align="center">Search Historical Data of Companies and Check Current Price of Stock </h2>
<input align="center" id="xyz" type="text" #box placeholder="Enter Stock Ticker"/><br>
<button id="abc"(click)="getVal(box.value)">Get Value</button>  

<p>Current Price={{data[0].close}}</p>

<table rules="all" align="center" style="font-size:25px; font-family:'Times New Roman', Times, serif ;" border="1"  >


<tr>
<td>Symbol</td>
<td>Close Price</td>
<td>High Price</td>
<td>Low Price</td>
<td>Open Price</td><br>
<td>Date</td>
<td>Volume</td>
</tr>

<tr *ngFor="let item of data">
<td>{{item.symbol}}</td>
<td>{{item.close}}</td>
<td>{{item.high}}</td>
<td>{{item.low}}</td>
<td>{{item.open}}</td><br>
<td>{{item.label}}</td>
<td>{{item.volume}}</td>
</tr>

</table>

